---
layout: "layouts/base.njk"
title: "Decks Disponíveis - Estude Com Anki"
---

{% block content %}
  <h2>ESCOLHA SEU DECK</h2>
  {% for deck in decks.items %}  <!-- Note o .items aqui -->
    <div class="deck-card">
      {% if deck.fields.image %}
        <img class="image" src="{{ deck.fields.image.fields.file.url }}" 
             alt="{{ deck.fields.title }}">
      {% endif %}
      <div class="content">
        <h3 class="title">{{ deck.fields.title }}</h3>      
        <p class="desc">{{ deck.fields.description }}</p>
        <p class="price">
          R$ {{ deck.fields.price | default("49,90") }},00
        </p>
        <button id="buy-button" class="buy-button" onclick="location.href='/comprar/{{ deck.sys.id }}/'">
          COMPRAR AGORA 
        </button><br>
      </div>
    </div>
  {% else %}
    <div class="deck-card" style="text-align: center;">
      <p>Nenhum deck disponível no momento. Volte em breve!</p>
    </div>
  {% endfor %}
{% endblock %}