<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Decks otimizados para o concurso do MPU 2025 usando Anki">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:image" content="/assets/mpu-anki-share.jpg">
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>