<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<div data-netlify-identity-menu></div>

<!-- Ou personalizado: -->
<button onclick="netlifyIdentity.open('login')">Entrar</button>